<%- include('_header'); %>
	
	
	
<div class="section cl">
    <div class="container">
        <div class="row text-left stat-wrap">
            <div class="col-md-6 col-sm-4 col-xs-12">
                <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-study"></i></span>
                <p class="stat_count">12000</p>
                <h3>Amount Of User</h3>
            </div><!-- end col -->

            <div class="col-md-6 col-sm-4 col-xs-12">
                <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-online"></i></span>
                <p class="stat_count">240</p>
                <h3>Amount Of Book</h3>
            </div><!-- end col -->

            
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->


    <div id="overviews" class="section wb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>Homework Report</h3>
                    <p class="lead">Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet.
                         Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem!</p>
                </div>
            </div><!-- end title -->
        
            <div class="row align-items-center">
                <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                       <p>Report</p>
                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
				
			</div>
        </div><!-- end container -->
    </div><!-- end section -->

 


 


   <%- include('_footer') %>