<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
  </head>
  <body>
    <h2>Reset Password</h2>
    <form action="/resetPassword?token=<%= token %>" method="POST">
      <label for="password">Yeni Şifre:</label><br />
      <input
        type="password"
        id="password"
        name="password"
        required
      /><br /><br />
      <label for="confirmPassword">Yeni Şifre (Tekrar):</label><br />
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        required
      /><br /><br />
      <button type="submit">Şifreyi Sıfırla</button>
    </form>
  </body>
</html>
